/*==================================
 ----------- MODULE CSS -----------
==================================*/


/*-------- All Module CSS --------*/
.module {
    // Hidden
    &_header,
    &_back-to-top,
    &_anchor-target,
    &_file-size,
    &_file-type,
    &_file-text {
        display: none;
    } // Small Spacing
    &_nav,
    &_headline,
    &_location,
    &_speakers,
    &_links,
    &_body,
    &_options,
    &_not-found {
        margin-bottom: 10px;
    } // Large Spacing
    &_error-container {
        margin-bottom: 30px;
        color: $error-color;
    }
    &_add-to-calendar {
        &-reveal {
            color: $brand-color;
            cursor: pointer;
            &:hover {
                color: $brand-color;
                text-decoration: underline;
            }
        }
        &-list {
            display: none;
            &:after {
                content: "Select your Calendar";
                display: block;
                margin-top: 15px;
                font-size: 1.4rem;
                text-align: center;
            }
            @at-root .fancybox-container & {
                padding: 0 30px;
            }
        }
        &-item {
            display: inline-block;
            margin: 0 10px;
            &--ics {
                display: none;
            }
        }
        &-link {
            font-size: 2.4rem;
        }
        &.js--hidden {
            display: none;
        }
    }
    &_actions,
    &_pager {
        margin-top: 20px;
    }
    &_date-time {
        margin-bottom: 5px;
        font-size: 1.7rem;
        color: $brand-color;
        font-family: $heading-font;
    }
    &_error-container {
        display: block;
        ul {
            padding-left: 18px;
            list-style-type: disc;
            &>li {
                line-height: 1.5;
            }
        }
        &>br {
            display: none;
        }
        &>span {
            display: block;
            line-height: 1.5;
            &:before {
                @include icon("ec6b");
                margin-right: 5px;
            }
        }
    }
    &_headline {
        &-link {
            color: $body-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
    &_image {
        display: inline-block;
        max-width: 30%;
        margin-bottom: 16px;
        &--right {
            float: right;
            margin-left: 32px;
        }
        &--left {
            float: left;
            margin-right: 32px;
        }
    }
    &_introduction {
        margin-bottom: 35px;
    }
    &_item {
        padding: 15px 0;
        & ~ .module_item {
            border-top: 1px dotted $brand-color--alt;
            padding-top: 25px;
        }
    }
    &_label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 1.4rem;
        &+.module_required {
            font-size: 1.4rem;
        }
    }
    &_links {
        >*,
        li,
        .module_presentation {
            display: inline;
            @include layout-small {
                display: block;
            }
        }
    }
    &_links {
        &.module_links--stack {
            >*,
            li,
            .module_presentation {
                display: block;
            }
        }
    }
    &_link {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 10px 0;
        &:hover {
            text-decoration: underline;
        }
        // Make sure the icons are center aligned
        &>&-text,
        &>i,
        &>span {
            vertical-align: middle;
        }
        &>i:before {
            display: block;
        } // CMS Module Definition work-around
        &[style="DISPLAY:block;"],
        &[style="display: block;"] {
            display: inline-block !important;
        }
    }
    &_loader {
        margin: 0;
        display: inline-block;
        animation: spin 1s linear infinite;
    }
    &_message {
        display: block;
        margin: 16px 0; // Overwrite Default Module Functionality
        &[style$="hidden;"],
        &:empty {
            display: none;
        }
        &--success {
            color: $success-color;
            &:before {
                @include icon("ed71");
                margin-right: 5px;
            }
        }
        &--error {
            color: $error-color;
            &:before {
                @include icon("ed4f");
                margin-right: 5px;
            }
        }
        &--validation_error {
            margin: 0;
        }
    }
    &_nav {
        &-link,
        .ModuleYearLink,
        &-link:visited,
        .ModuleYearLink:visited {
            display: inline-block;
            margin-right: 5px;
            padding: 15px 20px;
            border: 2px solid $brand-color;
            color: $body-color;
            font-weight: normal;
            &.selected,
            &.selected:visited {
                background-color: $brand-color;
                color: $light-color;
            }
            @include layout-small {
                margin-bottom: 10px;
            }
        }
    }
    &_options {
        margin-bottom: 30px;
        &-label,
        &-select {
            margin-right: 10px;
        }
        @include layout-small {
            &-label,
            &-select,
            &-submit {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    &_pager {
        a {
            color: $body-color;
            &[href] {
                color: $brand-color;
            }
        }
    }
    &_reminder {
        .module_label {
            margin-right: 10px;
        }
        .module_input.module_reminder-email {
            width: auto;
            display: inline-block;
        }
        &.js--reminded {
            display: none;
        }
    }
    &_required {
        color: $body-color;
    }
    &_required {
        &-text {
            font-size: 1.3rem;
            color: $body-color;
        }
    }
    &_rss {
        float: right;
        margin-top: 10px;
    }
    &_speakers {
        li {
            margin-bottom: 5px;
        }
    }
    &_view-all-link {
    } // All Inputs
    &_input[type="text"],
    &_input[type="email"],
    &_input[type="file"],
    &_dropdown,
    textarea.module_input {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Text area demands width*/
        width: 100%;
        max-width: none;
        padding: 12px 25px;
        border: 1px solid $brand-color--alt;
        border-radius: 25px;
        background-color: $light-color;
        font-family: $heading-font;
        font-size: 1.3rem;
        color: inherit;
        &::-ms-clear {
            display: none;
        }
    }
    textarea.module_input {
        resize: vertical;
        min-height: 150px;
    }
    &_input[type="file"],
    &_dropdown {
        cursor: pointer;
    }
    &_input[type="file"] {
        line-height: 1;
    }
    &_input {
        &--brand-alt[type="text"] {
            display: inline-block;
            width: auto;
            border: 1px solid $brand-color--alt;
            background: transparent;
        }
    }
    &_dropdown {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='2048' height='2048' viewBox='0 0 2048 2048'%3E%3Cpath d='M2048 704l-128-128-896 896-896-896-128 128 1023.996 1024 1024.004-1024z' fill='#{svg-color('#{$brand-color}')}'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 14px auto;
        padding-right: 44px;
        &::-ms-expand {
            display: none;
        }
    } // All details modules
    &-details {
        .module {
            &_date-time {
                color: $brand-color;
                margin-bottom: 15px;
            }
        }
    }
}