/*- Investment Calculator Widget -*/
.module-calculator {
    p {
        font-size: 2rem;
    }
    .js--loading:after {
        left: auto;
        margin: 10px 0;
    }
    &_input {
        display: inline-block;
        position: relative;
        @include layout-medium {
            display: block;
            text-align: left;
        }
        &:not(:last-of-type) {
            margin-right: 20px;
            margin-bottom: 20px;
        }
        h4 {
            font-weight: normal;
            display: inline-block;
            margin: 0 25px 10px 0;
            @include layout-medium {
                display: block;
            }
        }
        label {
            display: inline-block;
            text-transform: uppercase;
            margin-right: 5px;
            @include layout-medium {
                display: block;
            }
        }
        input[type="text"] {
            border: 1px solid $brand-color;
            display: inline-block;
            max-width: 190px;
            @include layout-medium {
                max-width: 100%;
            }
            &.hasDatepicker {
                width: 150px;
                padding: 12px 30px 12px 15px;
                @include layout-medium {
                    width: 100%;
                }
            }
            &.module_input--autocomplete {
                display: none;
                margin: auto;
                &.js--revealed {
                    display: block;
                }
            }
        }
        button {
            background: transparent;
            padding: 0;
            border: none;
            font-size: 1.8rem;
            line-height: 1;
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: $brand-color;
            cursor: pointer;
        }
        &.module-calculator_reinvest-dividends {
            display: block;
        }
        &-row {
            padding-bottom: 10px;
            margin-right: 25px;
            display: inline-block;
            input[type="text"] {
                margin-top: 10px;
                max-width: 300px;
            }
        }
    }
    &_popup-container {
        h2 {
            margin-top: 0;
        }
        @media screen and (min-width: 1024px) {
            min-width: 920px;
        }
        @media screen and (min-width: 481px) and (max-width: 768px) {
            .table {
                thead {
                    display: none;
                }
                tbody {
                    border-top: 2px solid $brand-color;
                    border-bottom: 2px solid $brand-color;
                }
                td {
                    display: block;
                    &:before {
                        content: attr(data-heading) ": ";
                        font-weight: bold;
                    }
                }
            }
        }
    }
    &_info {
        td:first-child:before {
            content: none;
        }
    }
}