/*------ Navigation Modules ------*/
.nav {
    &_close {
        display: none;
    }
    &_guide {
        @include sr-only();
    }
    @include layout-legacy {
        &_guide {
            display: none;
        }
    }
    button.submenu-trigger {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
    }
    a[tabindex="-1"]:focus { /* navigation needs this for accessibility purpose  */
        outline-width: 2px !important;
        outline-style: dotted !important;
        outline-color: inherit !important;
    } // Header Pane Nav
    &--main {
        text-align: right;
        font-family: $heading-font;
        font-size: 1.4rem;
        font-weight: 500;
        padding-right: 30px;
        button.submenu-trigger { /* removing default button styling for dropdown menu buttons */
            background:none;
            border:none;
            padding:0;
            margin:0;
            font-family:inherit;
            font-size:inherit;
        }
        li {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            a {
                display: block;
                padding: 25px 0;
                color: $body-color;
                position: relative;
            }
            a:hover,
            a:focus,
            button:hover a,
            button:focus a {
                color: $brand-color;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    @extend .background--gradient-horizontal;
                }
            }
            &.expanded:not(.home) > a:after,
            &.selected .home > a:after,
            &.selected > a:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 3px;
                @extend .background--gradient-horizontal;
            }
            &.home {
                & > a {
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 0;
                }
            }
        }
        .level2 {
            border-bottom: 1px solid $brand-color--alt;
            display: inline-block;
            vertical-align: top;
            & > li {
                margin-left: 20px;
                @include layout-large {
                    margin-left: 10px;
                }
                &:last-child > a {
                    padding-right: 0;
                }
                &.home {
                    margin-left: 0;
                }
            }
        }
        .level3 {
            display: none;
            background-color: $light-color;
            border-top: 1px solid $brand-color--alt;
            padding: 20px 15px;
            text-align: left;
            white-space: nowrap;
            position: absolute;
            z-index: 200;
            left: -20px;
            top: 100%;
            min-width: 200px;
            @at-root {
                .nav--main .js--expanded .level3 {
                    display: block;
                }
                .nav--main li:last-child > .level3 {
                    right: 0;
                    left: auto;
                }
                .nav--main li.sfHover > .level3 {
                    display: block;
                }
            }
            li {
                display: block;
                &.selected>a,
                &.expanded>a {
                    &:after {
                        content: none;
                    }
                }
            }
            a {
                color: $body-color;
                padding: 5px 10px;
                text-transform: none;
                &:hover,
                &:focus {
                    color: $brand-color;
                    &:after {
                        content: none;
                    }
                }
            }
        }
    } // Navigation Page Nav
    &--secondary {
        background: $brand-color;
        text-align: center;
        font-family: $heading-font;
        font-size: 1.4rem;
        font-weight: 400;
        @at-root {
            .js--sticky .nav--secondary {
                position: fixed;
                width: 100%;
                z-index: 200;
                box-shadow: rgba($dark-color, 0.05) 0px 2px 20px;
                background-color: rgba($light-color, 0.85);
                transition: 0.3s ease-in-out;
            }
        }
        @include layout-legacy {
            display: none;
        }
        .level1 {
            @include fit-and-center($layout-width);
            @include layout-legacy {
                max-width: none;
                padding-left: 0;
                padding-right: 0;
            }
            &>li {
                display: none;
                &.selected,
                &.expanded {
                    display: block;
                    &>a {
                        display: none;
                    }
                }
            }
        }
        .level2 {
            &>li {
                display: none;
                &.selected,
                &.expanded {
                    display: block;
                    &>a {
                        display: none;
                    }
                }
            }
        }
        .level3 {
            text-align: center;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: center;
            @at-root & {
                @media screen and (min-width: 1025px) {
                    /* to override superfish on desktop */
                    display: flex !important;
                    opacity: 1 !important;
                }
            }
            &>li {
                display: inline-block;
                vertical-align: top;
                a {
                    color: $light-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 15px 25px;
                    @at-root .js--sticky & {
                        color: $body-color;
                    }
                    &:hover,
                    &:focus {
                        background-color: $brand-color--alt;
                        color: $light-color;
                        @at-root .js--sticky & {
                            background-color: transparent;
                            color: $brand-color;
                        }
                    }
                }
                &.selected {
                    a {
                        background-color: $brand-color--alt;
                        color: $light-color;
                        @at-root .js--sticky & {
                            background-color: transparent;
                            color: $brand-color;
                        }
                    }
                }
            }
        }
    }
    &--mobile {
        display: none;
        margin-top: 40px;
        background-color: transparent;
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500;
        @include layout-legacy {
            display: block;
        }
        a {
            display: block;
            position: relative;
            padding: 10px 20px;
            color: #474747;
        }
        .level1 {
            &>li.expanded,
            &>li.selected {
                display: block;
                &>a {
                    display: block;
                }
            }
        }
        .level2 {
            > li {
                display: block;
                &.has-children > a:after,
                &.has-children > button a:after {
                    // content: "\edc2";
                    @include icon('edc2');
                    color: $brand-color;
                    position: absolute;
                    right: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 12px;
                }
                &.expanded,
                &.selected {
                    &>a {
                        display: block;
                    }
                }
                &.js--expanded {
                    > a {
                        color: $brand-color;
                    }
                    >a:after {
                        content: "\edba";
                    }
                    .level3 {
                        display: block;
                    }
                }
            }
        }
        .level3 {
            position: relative;
            text-align: left;
            padding: 0 0 0 15px;
            display: none;
            @at-root .nav--secondary .js--expanded .level3 {
                display: block;
            }
            li {
                display: block;
                a {
                    color: $body-color;
                    padding: 10px 25px;
                    &:hover {
                        background-color: transparent;
                        color: $brand-color;
                    }
                }
            }
        }
    } // Page Not Found
    &--sitemap {
        @include fit-and-center($layout-width);
        padding-top: $module-vspace;
        padding-bottom: $module-vspace;
        a {
            display: inline-block;
        }
        .level1,
        .level2 {
            &>li:not(:last-of-type) {
                margin-bottom: 35px;
            }
            &>li {
                &>a,
                &>a:visited {
                    margin-bottom: 15px;
                    font-size: 2.4rem;
                    color: $dark-color;
                    text-transform: uppercase;
                }
            }
        }
        .level3 {
            &>li {
                padding: 5px 0;
                &>a {
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .level2 {
            &>li>a {
                margin-bottom: 5px;
            }
        }
        .level3 {
            &>li {
                padding-left: 15px;
            }
        }
    }
}