/*------ Person List Module ------*/
.module-person {
    // Person Module
    .module-person_description,
    .module-person_res-photo-container,
    .module_comma {
        display: none;
    }
    .module_item {
        position: relative;
        padding: 0 0 20px 20px;
        border: none;
        &:hover {
            .module-person_name-container {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .module-person_photo-container {
        border-radius: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .module-person_name-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 20px;
        left: 20px;
        background: $dark-overlay;
        border-radius: 100%;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        cursor: pointer;
        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            margin: 0;
            transform: translate(-50%, -50%);
            color: $light-color;
        }
        a {
            color: $light-color;
        }
    }
    .module-person_name {
        display: block;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    &_suffix,
    &_title {
        font-size: 1.3rem;
    } // Fancybox popup
    @at-root .fancybox-container & {
        .module_item {
            max-width: $layout-width;
            padding: 70px;
        }
        &_photo-container,
        &_name-container {
            display: inline-block;
            vertical-align: middle;
        }
        &_name-container {
            position: static;
            background: transparent;
            text-align: left;
            opacity: 1;
            visibility: visible;
            cursor: initial;
            h3 {
                position: static;
                transform: none;
            }
            a {
                color: $body-color;
            }
        }
        &_photo-container {
            max-width: 30%;
            margin-right: 40px;
            @include layout-medium {
                margin-right: 15px;
                margin-bottom: 35px;
            }
            @include layout-small {
                margin-right: 0;
                max-width: none;
            }
        }
        &_name {
            display: block;
            margin-bottom: 10px;
            font-size: 3.6rem;
            line-height: 1.45;
            color: $brand-color;
            @include layout-small {
                font-size: 2.4rem;
                line-height: 1.2;
            }
        }
        &_title {
            font-size: 2.4rem;
            color: $brand-color;
            @include layout-small {
                font-size: 1.8rem;
                line-height: 1.125;
            }
        }
        &_description-container {
            margin-top: 40px;
        }
        &_description {
            display: block;
        }
    } // Person Accordion
    &-accordion {
        .module_container--inner {
            border: 1px solid $grey-color;
            border-radius: 5px;
        }
        .module-person_name-container {
            padding: 15px 20px;
            cursor: pointer;
            h3 {
                font-size: 2rem;
                color: inherit;
                margin: 0;
                &:before {
                    color: $brand-color;
                    float: right;
                    @include icon('edc2');
                    margin-top: 8px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        .module_item {
            padding: 0;
            & + .module_item {
                border-top: 1px solid $grey-color;
            }
            &.js--active h3 {
                color: $brand-color;
                &:before {
                    content: "\edba";
                }
            }
        }
        .module-person_name {
            margin-right: 10px;
        }
        .module-person_title {
            font-size: 1.4rem;
        }
        .module_comma {
            display: none
        }
        .module-person_description-container {
            padding: 0 20px 15px 20px;
        }
        .module-person_photo-container {
            float: left;
            margin: 0 25px 15px 0;
            @include layout-medium {
                float: none;
                margin: 0 auto 15px auto;
                text-align: center;
            }
            img {
                display: block;
                margin: auto;
            }
        }
        .module-person_description>*:first-child {
            margin-top: 0;
        }
        .module-person_res-photo-container>span {
            margin-right: 10px;
            @include layout-medium {
                display: block;
                margin: 0 0 10px 0;
            }
        }
    }
    &-carousel {
        &_list {
            &.slick-slider {
                padding: 0;
            }
            .slick-list {
                margin: 0 40px;
                width: auto;
            }
            .slick-slide > div {
                padding: 2px;
            }
            .slick-arrow {
                padding: 10px;
                color: $brand-color;
                border: 1px solid $brand-color;
                border-radius: 100%;
            }
            h3 {
                font-size: 1.8rem;
                text-align: center;
            }
            .module-person_name {
                display: block;
                margin-bottom: 5px;
            }
        }
        &_details {
            &.slick-slider {
                padding: 0;
            }
        }
        &_person {
            padding: 0 20px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            font: inherit;
            img {
                margin: 5px;
                padding: 5px;
                border: 2px solid transparent;
                border-radius: 100%;
            }
            &.js--selected {
                img {
                    border-color: $brand-color;
                }
            }
        }
        .module-person_suffix {
            .module_comma {
                display: none;
            }
            &:empty + .module-person_title .module_comma {
                display: none;
            }
        }
        .module {
            &_item {
                .module-person_name {
                    display: block;
                    font-size: 2.8rem;
                }
                .module-person_suffix,
                .module-person_title {
                    font-size: 1.6rem;
                }
            }
            &_item ~ .module_item {
                border-top: 0 none;
            }
            &-person_photo-container {
                text-align: center;
            }
            &-person_res-photo-container {
                display: none;
            }
        }
    } // Person Details Module
    &-details {
        .module_title {
            display: none;
        }
        .module_comma {
            display: none;
        }
        &_photo-container,
        &_name-container {
            display: inline-block;
            vertical-align: middle;
        }
        &_photo-container {
            max-width: 30%;
            margin-right: 40px;
            @include layout-medium {
                margin-right: 15px;
                margin-bottom: 35px;
            }
            @include layout-small {
                margin-right: 0;
                max-width: none;
            }
        }
        &_name {
            display: block;
            margin-bottom: 10px;
            font-size: 3.6rem;
            color: $brand-color;
        }
        &_title {
            display: block;
            font-size: 2.4rem;
        }
        &_description-container {
            margin-top: 40px;
        }
    }
}