/*------ Stock Quote Module ------*/
.module-stock {
    &.module-stock-historical .module-stock_empty {
        @include layout-medium {
            display: none;
        }
    }
    &-quote .module_container--content {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    &_lookup-title {
        display: none;
    }
    &_up {
        color: $success-color;
    }
    &_down {
        color: $error-color;
    }
    &_value.grid_col:nth-child(even) {
        background: $grey-color;
    }
    &_label,
    &_value {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:empty {
            border-bottom: 0 none;
            &:nth-child(even) {
                background: transparent;
            }
        }
        > span {
            display: block;
            padding: 15px 20px;
        }
    }
    &_date {
        margin-top: 25px;
        text-align: right;
        font-style: italic;
        font-size: 1.4rem;
    }
    &-historical {
        font-size: 1.4rem;
        .module_options {
            &-label,
            &-select,
            &-submit {
                @include layout-medium {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .stock-historical-range {
        .module_options>*:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }
}